/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/

body{
  background: url(../../images/bodyBG.jpg);
}


/* --------------------------------------
   Menu
   -------------------------------------- */
  .coffee{
    padding-top: 25px;
    text-align: center;
  }




/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchinput{
     width: 200px;
   }

   .navbar-brand{
     padding: 13px; 15px;
   }

   #navigationBar{
     background-color: rgb(223,168,106);
   }

   #navMenu{
     color: rgb(113, 43, 9);
   }



/* --------------------------------------
   Carousel
   -------------------------------------- */
   #myCarousel .item{
     height: 519px;
   }

   #slide1{
     background: url('../../images/slideMedium1.jpg') top center no-repeat;
   }

   #slide2{
     background: url('../../images/slideMedium2.jpg') top center no-repeat;
   }

   #slide3{
     background: url('../../images/slideMedium3.jpg') top center no-repeat;
   }

   #slide4{
     background: url('../../images/slideMedium4.jpg') top center no-repeat;
   }

   #myCarousel{
     margin-top: 20px;
   }


 /* --------------------------------------
    About us
    -------------------------------------- */
    #aboutus{
      padding-top: 60px;
    }

    .about p{
      font-size: 18px;
      font-family: Berlin Sans FB;
    }

.bgImg1{
  background: url('../../images/bg1Medium.jpg');
  height: 266px;
}

/* --------------------------------------
   Addresses
   -------------------------------------- */
   #addresses{
     text-align: center;
     margin-top: 30px;
   }



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #myCarousel .item{
    height: 397px;
  }

  #slide1{
    background: url('../../images/slideSmall1.jpg') top center no-repeat;
  }

  #slide2{
    background: url('../../images/slideSmall2.jpg') top center no-repeat;
  }

  #slide3{
    background: url('../../images/slideSmall3.jpg') top center no-repeat;
  }

  #slide4{
    background: url('../../images/slideSmall4.jpg') top center no-repeat;
  }

  .bgImg1{
    background: url('../../images/bg1Small.jpg');
    height: 203px;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item{
    height: 600px;
  }

  #slide1{
    background: url('../../images/slideLarge1.jpg') top center no-repeat;
  }

  #slide2{
    background: url('../../images/slideLarge2.jpg') top center no-repeat;
  }

  #slide3{
    background: url('../../images/slideLarge3.jpg') top center no-repeat;
  }

  #slide4{
    background: url('../../images/slideLarge4.jpg') top center no-repeat;
  }

  .bgImg1{
    background: url('../../images/bg1Large.jpg');
    height: 330px;
  }
}
